/********************
 * Date：2017/11/23
 * info: 页面上的小部件的css样式
 */

.hot{
	width: 30px;height: 19px;display: block;position: absolute;
	background: url('../image/icon/icons.png') no-repeat 0 -94px;
}

.mT10{margin-top: 10px;}
.mR10{margin-right:10px; }
.mB10{margin-bottom: 10px;}
.mL10{margin-left: 10px;}

.right0{right: 0}
.left0{left: 0;}
.top0{top:0;}
.bottom0{bottom: 0}

.cle:after{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* 向上的小箭头 */
i.arrow_i{
	width: 14px;height: 8px;display: block;
	position: absolute;top: 8px;right: 5px;
	background: url('../image/icon/icons.png') no-repeat 0 -278px;
}